@import url(https://fonts.googleapis.com/css?family=Signika);    

body {
    background: url('../img/pattern.svg') no-repeat center center fixed;
    background-size: cover;
    
    font-family: Signika, sans-serif;
    font-size: 1.7em;
}

form h4 {
    font-style: italic;
}

.jumbotron {
    padding-left: 15px;
    padding-right: 15px;
}

#textCarousel h3 {
    text-decoration: underline;
}

#textCarousel p {
    font-size: 17px;
}

/*
 * Positionnement du background pour l'accueil
 */
#bg {
    position:absolute;
    top: 0;
    left:0;
    bottom: 0;
    right:0;
}

#start {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
}

#start section {
    background-color: rgba(255,255,255,0.5);
}